.container1 {
	width:auto;
	height:auto;
	margin:25px;
	position:relative;
	background-color:red;
}

.boxes {
    background-color:black;
	height: 15px;
	width: 15px;
	display:inline-block;
	position:absolute;
}

.box1 {
    top: 20px;
    left:95px;
}

.box2 {
    top: 35px;
    left:88px;
}

.box3 {
    top: 50px;
    left:80px;
}

.box4 {
    top: 65px;
    left:70px;
}

.box5 {
    top: 80px;
    left:63px;
}

.box6 {
    top: 95px;
    left:55px;
}

.box7 {
    top: 110px;
    left:47px;
}

.box8 {
    top: 125px;
    left:38px;
}

.box9 {
    top: 140px;
    left:30px;
}

.box10 {
    top: 155px;
    left:20px;
}

.box11 {
    top: 20px;
    left:110px;
}

.box12 {
    top: 35px;
    left:112px;
}

.box13 {
    top: 50px;
    left:114px;
}

.box14 {
    top: 65px;
    left:116px;
}

.box15 {
    top: 80px;
    left:118px;
}

.box16 {
    top: 95px;
    left:120px;
}

.box17 {
    top: 110px;
    left:122px;
}

.box18 {
    top: 125px;
    left:124px;
}

.box19 {
    top: 140px;
    left:126px;
}

.box20 {
    top: 155px;
    left:128px;
}

.box21 {
    top: 110px;
    left:107px;
}

.box22 {
    top: 110px;
    left:92px;
}

.box23 {
    top: 110px;
    left:77px;
}

.box24 {
    top: 110px;
    left:62px;
}

.box25 {
    top: 20px;
    left:200px;
}

.box26 {
    top: 35px;
    left:197px;
}

.box27 {
    top: 50px;
    left:195px;
}

.box28 {
    top: 65px;
    left:192px;
}

.box29 {
    top: 80px;
    left:189px;
}

.box30 {
    top: 95px;
    left:186px;
}

.box31 {
    top: 110px;
    left:183px;
}

.box32 {
    top: 125px;
    left:180px;
}

.box33 {
    top: 140px;
    left:177px;
}

.box34 {
    top: 155px;
    left:174px;
}

.box35 {
    top: 80px;
    left:201px;
}

.box36 {
    top: 80px;
    left:216px;
}

.box37 {
    top: 80px;
    left:231px;
}

.box38 {
    top: 80px;
    left:246px;
}

.box39 {
    top: 20px;
    left:215px;
}

.box40 {
    top: 20px;
    left:230px;
}

.box41 {
    top: 20px;
    left:245px;
}

.box42 {
    top: 20px;
    left:260px;
}

.box43 {
    top: 155px;
    left:189px;
}

.box44 {
    top: 155px;
    left:204px;
}

.box45 {
    top: 155px;
    left:219px;
}

.box46 {
    top: 155px;
    left:234px;
}

.box47 {
    top: 25px;
    left:275px;
}

.box48 {
    top: 40px;
    left:282px;
}

.box49 {
    top: 55px;
    left:282px;
}

.box50 {
    top: 70px;
    left:275px;
}

.box51 {
    top: 78px;
    left:261px;
}

.box52 {
    top: 93px;
    left:265px;
}

.box53 {
    top: 108px;
    left:272px;
}

.box54 {
    top: 123px;
    left:270px;
}

.box55 {
    top: 138px;
    left:262px;
}

.box56 {
    top: 150px;
    left:249px;
}

.box57 {
    top: 120px;
    left:328px;
}

.box58 {
    top: 105px;
    left:328px;
}

.box59 {
    top: 90px;
    left:328px;
}

.box60 {
    top: 75px;
    left:330px;
}

.box61 {
    top: 60px;
    left:335px;
}

.box62 {
    top: 45px;
    left:343px;
}