body {
    font-family:Arial;
    text-align: center;
    font-style:italic;
}

h1{
    opacity:0.5;
}

.wrapper { 
    position:relative;
    height:100vh;
}

.nav {
     position:absolute;
     bottom:5%;
     left:42%;
     text-align:center;
}

.circles {
    background-color:white;
    border: 1px solid black;
	height:10px;
	width:10px;
	border-radius:50%;
	display:inline-block;
	margin:10px;

}

.circle3 {
    background-color:black;
}

.circles:hover {
    background-color:black;
}

.image{
    border-radius:50%;
    overflow:hidden;
    opacity:0.3;
    position:absolute;
}

.box-set8 {
	position:relative;
	width:100px;
	height:100px;
    bottom:1.5%;
    right:56%;
}

.box-set5 {
	position:relative;
	width:100px;
	height:100px;
    bottom:15.75%;
	right:17.5%;
}

.box181 {
    top: 92px;
    left:1031px;
}

.box182 {
    top: 84px;
    left:1033px;
}

.box183 {
    top: 76px;
    left:1035px;
}

.box184 {
    top: 68px;
    left:1037px;
}

.box185 {
    top: 60px;
    left:1039px;
}

.box186 {
    top: 52px;
    left:1041px;
}

.box187 {
    top: 44px;
    left:1043px;
}

.box188 {
    top: 36px;
    left:1045px;
}

.box189 {
    top: 28px;
    left:1047px;
}

.box190 {
    top: 20px;
    left:1049px;
}

.box191 {
    top: 92px;
    left:1079px;
}

.box192 {
    top: 84px;
    left:1081px;
}

.box193 {
    top: 76px;
    left:1083px;
}

.box194 {
    top: 68px;
    left:1085px;
}

.box195 {
    top: 60px;
    left:1087px;
}

.box196 {
    top: 52px;
    left:1089px;
}

.box197 {
    top: 44px;
    left:1091px;
}

.box198 {
    top: 36px;
    left:1093px;
}

.box199 {
    top: 28px;
    left:1095px;
}

.box200 {
    top: 20px;
    left:1097px;
}

.box201 {
    top: 52px;
    left:1049px;
}

.box202 {
    top: 52px;
    left:1057px;
}

.box203 {
    top: 52px;
    left:1065px;
}

.box204 {
    top: 52px;
    left:1073px;
}

.box205 {
    top: 52px;
    left:1081px;
}

.box109 {
    top: 92px;
    left:618px;
}

.box110 {
    top: 84px;
    left:620px;
}

.box111 {
    top: 76px;
    left:622px;
}

.box112 {
    top: 68px;
    left:624px;
}

.box113 {
    top: 60px;
    left:626px;
}

.box114 {
    top: 52px;
    left:628px;
}

.box115 {
    top: 44px;
    left:630px;
}

.box116 {
    top: 36px;
    left:632px;
}

.box117 {
    top: 28px;
    left:634px;
}

.box118 {
    top: 20px;
    left:636px;
}

.box119 {
    top: 20px;
    left:644px;
}

.box120 {
    top: 20px;
    left:652px;
}

.box121 {
    top: 20px;
    left:660px;
}

.box122 {
    top: 20px;
    left:668px;
}

.box123 {
    top: 20px;
    left:676px;
}

.box124 {
    top: 52px;
    left:636px;
}

.box125 {
    top: 52px;
    left:644px;
}

.box126 {
    top: 52px;
    left:652px;
}

.box127 {
    top: 52px;
    left:660px;
}

.box128 {
    top: 52px;
    left:668px;
}

.box129 {
    top: 92px;
    left:626px;
}

.box130 {
    top: 92px;
    left:634px;
}

.box131 {
    top: 92px;
    left:642px;
}

.box132 {
    top: 92px;
    left:650px;
}

.box133 {
    top: 92px;
    left:658px;
}

