body {
  background-color: white;
  }

.box1 {width:50px;
	height:500px;
	margin:180px;
	background-color:red;
	display:inline-block;
    } 
    
.box2 {width:50px;
	height:500px;
	margin:180px;
	background-color:green;
	display:inline-block;
    } 
    
.box3 {width:50px;
	height:500px;
	margin:180px;
	background-color:blue;
	display:inline-block;
    } 