body {
    text-align:center;
    display: block;
    margin: 8px;
}

.boxes{
    display: inline-block;
    width:100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    overflow:hidden;
    }
    
.button {
    display: inline-block;
    position: fixed;
    height: 100px;
    width: 100px;
    border-radius:50%;
    overflow:hidden;
    background-color:white;
    text-align: center;
    border:solid;
}


